.mw30-text {max-height: 30px; overflow: hidden;}
.mh200-text {min-height: 200px;max-height:200px;overflow: hidden;}


/* Breadcum bar */
.bg-grey {background:#efefef}
.breadcrumb {background: none; margin: 0;font-weight: 300;padding-left: 0; font-size: 13px;}
.breadcrumb a {color: #999;}
.breadcrumb > .active {color: #696969;}
.breadcrumb > li + li::before {content: "\203A";color: #999;padding: 0 8px;}
/********** car horizon ************/

.car-image-block {padding:0px;margin:0px;}
.car-image-block img {min-height: 200px; overflow: hidden;}

/************* GENERIC  *****************/
a {color:#696969;}
img {width:100%;}
.twhite {color:#fff!important;}
.twhite a {color:#fff!important;}
/************* Background ****************/
.bglight1 {background:#f2f2f2;}
/************* TOP-HEAD *****************/
.top-head ul li {padding-right:8px;}
/****************** Navigation **************/
.navbar-toggler {border-color: #dd0000;}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(221, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/**************** Banner Slider Carousel **************/
.carousel-inner img {width: 100%;}
.carousel-caption {color:#000;top:110px; bottom: auto; text-align:left;}
.carousel-caption h1 { color:#dd0000;}
/************ Services **************/
.most-car-box:hover { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
/*********** TABS *******/
.nav-tabs { border-bottom: 1px solid #ccc; }
.nav-tabs .nav-link.active {
    border-bottom: 1px solid #dd0000;
    border-radius:0px;
}
/**************** Social ICONS ***************/

.social-icons{margin: 0;padding: 0; font-size : 8px;}
.social {margin:7px 7px 7px 0px;}
#social-fb:hover {color: #3B5998;transition:all .25s;}
#social-tw:hover {color: #4099FF;transition:all .25s;}
#social-gp:hover {color: #d34836;transition:all .25s;}
#social-em:hover {color: #f39c12;transition:all .25s;}
