<div class="container m-5 mx-auto">
    <div class="row main">
        <div class="col-lg-6 col-12 my-5 rcol">
            <h3 class="product text-center">Car Details</h3>
            <div class="image text-center"><img src="https://img.internethaber.com/rcman/Cw480h270q95gc/storage/files/images/2022/01/06/qqq-5J18_cover.jpg" width="400px" height="450px"></div>
            <p class="text-center my-3">More than meets the eye, it is the starting point of infinite possibilities. User focused and smart.
                Connected with life, shared with everyone.</p>
        </div>
        <div class="col-lg-6 col-12 my-5 scol">
            <div class="card-body">
                <form [formGroup]="rentalAddForm">
                    <div class="mb-3" >
                        <label for="rentedKilometer">Rented Kilometer</label>
                        <div class="form-group">
                            <input type="text" 
                            id="rentedKilometer" 
                            formControlName="rentedKilometer" class="form-control" 
                            placeholder="Rented Kilometer"/>
                        </div>
                    </div>
                    <div class="mb-3" >
                        <label for="customerId">Customer Id</label>
                        <div class="form-group">
                            <input type="text" 
                            id="customerId" 
                            formControlName="customerId" class="form-control" 
                            placeholder="Customer Id"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Rent Date</label>
                        <br />
                        <p-calendar
                          [showIcon]="true"
                          formControlName="rentDate"
                          dateFormat="yy.dd.mm"
                        ></p-calendar>
                      </div>
                    <div class="mb-3" >
                        <label for="pickUpRentalCityId">PickUp Rental City Id</label>
                        <select formControlName="pickUpRentalCityId" class="form-select" aria-label="Default select example">
                            
                            <option *ngFor="let city of cities" value={{city.id}}>{{city.name}}</option>
                            
                          </select>
                    </div>
                    <div class="mb-3" >
                        <label for="rentalUpRentalCityId">Return Rental City Id</label>
                        <select formControlName="returnRentalCityId" class="form-select" aria-label="Default select example">
                            
                            <option *ngFor="let city of cities" value={{city.id}}>{{city.name}}</option>
                            
                          </select>
                    </div>
                </form>
                <div class="card-footer">
                    <button class="btn btn-fill btn-primary" (click)="add()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>